/*
 * A loud comment in Example #8.
 * To stand in for license text.
 * @founddrama, 2011
 */
/**
 * SCSS @include directive
 */
/**
 * Fake/bogus example reset file.
 */
.zero_out, html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a, hr {
  margin: 0;
  padding: 0;
  border: 0; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  outline: 0;
  font-size: 100%;
  background: transparent; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none; }

a {
  font-size: 100%;
  background: transparent; }

del, s, strike {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
  height: 1px; }

h1 {
  font-size: 6.25em; }

h2 {
  font-size: 5.25em; }

h3 {
  font-size: 4.25em; }

h4 {
  font-size: 3.25em; }

h5 {
  font-size: 2.25em; }

h6 {
  font-size: 1.25em; }

@import url(../css/legacy.css);
