// #6 : SassScript

article {
  $base_font_size: 12px;
  $base_line_height: $base_font_size * 1.5;

  font-size: $base_font_size;
  line-height: $base_line_height;

  // simple math
  h1 { font-size: $base_font_size * ($base_line_height + 1em); }
  h2 { font-size: $base_font_size + 4px; }
}